<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.imasha.ifitcoach">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ifit_ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ifit_ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.imasha.ifitcoach.activity.ViewMessagesActivity"></activity>
        <activity android:name="com.imasha.ifitcoach.activity.MessagesActivity" />
        <activity android:name="com.imasha.ifitcoach.activity.ServiceManagerActivity" />
        <activity android:name="com.imasha.ifitcoach.activity.OrdersActivity" />
        <activity android:name="com.imasha.ifitcoach.activity.ViewServiceActivity" />
        <activity android:name="com.imasha.ifitcoach.activity.GoalsActivity" />
        <activity android:name="com.imasha.ifitcoach.activity.AddWorkoutActivity" />
        <activity android:name="com.imasha.ifitcoach.activity.ConnectionsActivity" />
        <activity android:name="com.imasha.ifitcoach.activity.RequestActivity" />
        <activity android:name="com.imasha.ifitcoach.activity.ServiceActivity" />
        <activity android:name="com.imasha.ifitcoach.activity.PostCommentActivity" />
        <activity android:name="com.imasha.ifitcoach.activity.CreateServiceActivity" />
        <activity android:name="com.imasha.ifitcoach.activity.AddFoodActivity" />
        <activity
            android:name="com.imasha.ifitcoach.activity.FindActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name="com.imasha.ifitcoach.activity.PostActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name="com.imasha.ifitcoach.activity.CreateFoodActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name="com.imasha.ifitcoach.activity.DiaryActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name="com.imasha.ifitcoach.activity.FoodListActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name="com.imasha.ifitcoach.activity.AccountTypeActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name="com.imasha.ifitcoach.activity.CreatePostActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name="com.imasha.ifitcoach.activity.SetupActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name="com.imasha.ifitcoach.activity.WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.imasha.ifitcoach.activity.LoginActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name="com.imasha.ifitcoach.activity.CreateAccountActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name="com.imasha.ifitcoach.activity.MainActivity"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.imasha.ifitcoach.activity.SplashActivity"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />-->
    </application>

</manifest>